In [28]:
import pandas as pd
import numpy as np

### Position Capture

In [23]:
df = pd.read_csv('tradesUSD.csv')
df_agg_by_val = df.groupby(['Ticker']).sum().sort_values(by=['TradeValueUSD'])

In [24]:
df_agg_by_val.iloc[:10] # top 10 sell, sum of TradeValueUSD

                 TradeValueUSD  PriceUSD
Ticker
VRTU US Equity      -315476.30     9.695
EXC US Equity       -283770.29     3.501
IVN CN Equity       -244522.20     6.712
RECN US Equity      -224420.00     6.742
BCP PL Equity       -193533.14     2.820
RTRKS FH Equity     -186556.32    14.927
JEF US Equity       -165291.41     8.970
ALPHA GA Equity     -151920.84     0.778
TNC US Equity       -148330.00     8.106
AREX US Equity      -145181.46     0.096

In [25]:
df_agg_by_val.iloc[-10:] # top 10 buy, sum of TradeValueUSD

                  TradeValueUSD  PriceUSD
Ticker
ATL IM Equity          95154.34     5.417
PPL CN Equity         105878.32     9.405
SGMS US Equity        194429.72     7.385
SYST VX Equity        202354.77    12.805
AF FP Equity          203295.81     9.902
PNDORA DC Equity      204597.33    15.506
PFC LN Equity         287905.53     9.263
HUSQB SS Equity       294513.75    10.963
AON US Equity         294513.75     5.551
AZN LN Equity         294513.75     1.365

### Best execution - Volume Weighted Average Price

In [53]:
df['quantity'] = df[['TradeValueUSD', 'PriceUSD']].apply(lambda x: x[0]//x[1], axis=1)
df['count'] = df.groupby('TradeValueUSD')['TradeValueUSD'].transform('count')

In [66]:
df['cum_vol'] = df['quantity'].cumsum()
df['cum_vol_price'] = (df['quantity'] * df['PriceUSD']).cumsum()
df['VWAP'] = df['cum_vol_price'] / df['cum_vol']
df['Faraway %'] = df[['PriceUSD', "VWAP"]].apply(lambda x: abs((x[1]-x[0])/x[0]), axis=1)

In [76]:
df.sort_values(by=['Faraway %'], ascending=False)[:10]

,Ticker,TradeValueUSD,PriceUSD,quantity,count,cum_vol,cum_vol_price,VWAP,Faraway %
783,ORK NO Equity,-32449.61,0.017,-1908801.0,1,1392858.0,672354.524,0.482716,27.395045
798,FER SM Equity,-753.08,0.023,-32743.0,1,1360579.0,714988.443,0.525503,21.847960
1061,AIT US Equity,4164.12,0.006,694019.0,1,3059521.0,406102.881,0.132734,21.122356
20,FMCC US Equity,-2163.89,0.031,-69803.0,1,-54210.0,32326.567,-0.596321,20.236165
395,WIN US Equity,16782.64,0.005,3356527.0,1,2107601.0,111626.053,0.052964,9.592712
656,ENG SM Equity,-2587.97,0.027,-95851.0,1,2504781.0,666061.932,0.265916,8.848749
52,PAY US Equity,-63446.85,0.067,-946968.0,1,-1125650.0,-726176.363,0.645117,8.628617
154,DOV US Equity,302.16,0.029,10419.0,1,-1033451.0,-287713.700,0.278401,8.600031
381,ABF LN Equity,15658.77,0.024,652448.0,1,-1181460.0,141213.560,-0.119525,5.980193
817,HAS LN Equity,4317.71,0.105,41121.0,1,1474990.0,1041894.520,0.706374,5.727371